.pagination_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /*background: var(--white);*/
    padding: var(--1rem);
    border-radius: var(--05rem);

    & .advancePagination{
        display: flex;
        gap: var(--1rem);
        font-size: var(--1rem);
        background: var(--white);
        width: fit-content;
        padding: var(--1rem);
        border-radius: var(--05rem);
        & .advancePagination_li{
            background: var(--color-1);
            width: var(--25rem);
            height: var(--25rem);
        &.active{
            background: transparent;
            box-shadow: 0 0 var(--05rem) var(--black-shadow);
            border-radius: var(--05rem);
            border-bottom: var(--03rem) solid var(--color-4);
            /*border-top: var(--03rem) solid var(--color-4);*/
        }
            & .advancePagination_anchor{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                text-decoration: none;
                & iconify-icon{
                    font-size: var(--15rem);
                }
            }
            &.previousPagination_li{
                border-radius: var(--3rem) 0 0 var(--3rem);
                box-shadow:  0 0 var(--03rem) var(--black-shadow);
                &.disabled{
                    & .advancePagination_anchor iconify-icon{
                        cursor: not-allowed;
                        color: var(--black-shadow);
                    }
                }
            }
            &.nextPagination_li{
                border-radius: 0 var(--3rem) var(--3rem) 0;
                box-shadow:  0 0 var(--03rem) var(--black-shadow);
                &.disabled{
                    & .advancePagination_anchor iconify-icon{
                        cursor: not-allowed;
                        color: var(--black-shadow);
                    }
                }
            }
        }
    }
}