@import "products.css";
.messages_container{
    margin-top: var(--2rem);
    display: flex;
    gap: var(--1rem);
    /*flex-wrap: wrap;*/
    & .products_list_container{
        flex-basis: max(200px,20vw);
        flex-grow: 1;
        height: 80vh;
        background: var(--color-1);
        border-radius: var(--05rem);
        overflow-y: auto;
        padding: 0 var(--1rem);
        & .product_list{
            display: flex;
            gap: var(--1rem);
            align-items: center;
            margin: var(--1rem) 0;
            cursor: pointer;
            background: var(--white);
            padding: var(--05rem) var(--1rem);
            position: relative;
            border-radius: var(--05rem);
            & > div:first-child{
                width: max(30px,var(--25rem));
                aspect-ratio: 1;
                border-radius: var(--3rem);
                overflow: hidden;
                box-shadow: 0 0 var(--05rem) var(--black-shadow);
            }
            & h3{
                font-weight: 400;
                font-size: var(--1rem);
            }
            & span{
                font-weight: 400;
                font-size: var(--1rem);
                display: flex;
                align-items: center;
                gap: var(--05rem);
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
                &.review {
                color: chocolate;
                    & iconify-icon {
                    color: chocolate;
                    }
                }
                &.message {
                color: var(--success);
                    & iconify-icon {
                    color: var(--success);
                    }
                }

            }
        }
    }
    & .message_box_container{
        flex-basis: 60%;
        border-radius: var(--05rem);
        flex-grow: 1;
        height: 80vh;
        & .message_box{
            position: relative;
            background: var(--white);
            height: 100%;
            & .message_head{
                height: 70px;
                display: flex;
                align-items: center;
                gap: var(--1rem);
                background: var(--white);
                padding: 0 var(--1rem);
                border-radius: var(--05rem);
                border-bottom: 2px solid var(--black-shadow);
                & img{
                    width: max(30px,var(--2rem));
                    height: max(30px,var(--2rem));
                    border-radius: var(--3rem);
                    box-shadow: 0 0 var(--1rem) var(--black-shadow);
                }
                & h1{
                    font-size: var(--1rem);
                    font-weight: 400;
                }
            }
            & .message_body{
                padding: var(--1rem);
                overflow-y: auto;
                height: calc(100% - 70px);
                & .userMessage{
                    background: var(--color-1);
                    max-width: 70%;
                    position: relative;
                    margin:  var(--1rem) 0;
                    width: fit-content;
                    padding: var(--1rem);
                    border-radius: var(--1rem);
                    & div{
                        display: flex;
                        gap: var(--1rem);
                        align-items: center;
                        position: relative;
                        margin-bottom: var(--05rem);
                        & img{
                            width:var(--2rem);
                            height:var(--2rem);
                            border-radius: var(--3rem);
                            box-shadow: 0 0 var(--1rem) var(--black-shadow);

                        }
                        & h4{
                            font-size: var(--1rem);
                        }
                        & i{
                            font-size: var(--1rem);
                        }
                        & b{
                            font-size: var(--1rem);
                            position: absolute;
                            top: 0;
                            right: 0;
                            cursor: pointer;
                            & iconify-icon{
                                color: var(--black-shadow);
                                &:hover{
                                    color: var(--red);
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                    & abbr{
                        margin: var(--05rem) 0;
                        & iconify-icon{
                            color: var(--black-shadow);
                            &.active{
                                color: chocolate;
                                transform: scale(1.2);
                            }
                        }
                    }
                    & > p{
                        font-size: var(--1rem);
                        font-weight: 400;
                        margin-bottom: var(--05rem);
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -10px;
                        width: 20px;
                        height: 20px;
                        background: var(--color-1);
                        border-radius: 10px 0 0 5rem;
                    }
                    & span{
                        display: block;
                        margin-top: var(--05rem);
                        display: none;
                        & p{
                            font-size: var(--1rem);
                            font-weight: 400;
                            max-width: 70%;
                            margin-left: auto;
                            text-align: right;
                            background: var(--white);
                            padding: var(--1rem);
                            border-radius: var(--1rem);
                        }
                    }
                    & hr{
                        border: 1px solid var(--black-shadow);
                        margin: 0 var(--2rem);
                        opacity: 0.5;
                    }
                    & > button{
                        margin-top: var(--05rem);
                        font-size: var(--1rem);
                        cursor: pointer;
                    }
                    & form{
                        display: flex;
                        background: var(--white);
                        border-bottom: 1px solid var(--black-shadow);
                        border-radius:  var(--05rem);
                        padding: 0 var(--05rem);
                        align-items: center;
                        gap: var(--1rem);
                        align-items: center;
                        margin-top: var(--05rem);
                        display: none;
                        &.active{
                            display: flex;
                        }
                        & input{
                            flex: 1;
                            padding:  var(--1rem);
                        }
                        & button{
                            font-size: var(--1rem);
                            cursor: pointer;
                            & iconify-icon{
                                color: var(--black-shadow);
                                &:hover{
                                    color: var(--color-4);
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}